

.text-custom-color {
    color: #4285F4 !important;
}


.sidebar .nav-link:hover {
    background-color: #181818; 
    color: #fff; 
}


.sidebar .nav-link i {
    margin-right: 10px;
}

.sidebar .nav-link span {
    display: none;
}

.sidebar.open .nav-link span {
    display: inline;
}



.main-content {
    flex-grow: 1;
    padding: 10px;
} 

.submenu {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.submenu .nav-link {
    padding-left: 10px;
}

.submenu .nav-link i {
    margin-right: 10px;
}

.btn-sidebar {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 0.5rem; 
    padding-top: 0px;
  }
    
  
.btn-sidebar:focus {
    
    outline: none;
}

.sidebar.open .btn-sidebar {
    justify-content: flex-end;
}
  
.nav-link span {
    margin-left: -5px;
}

