.sidebar {
    position: sticky;
    top: 0;
    width: 85px;
    min-height: 100vh;
    background-color: #3C4043;
    transition: width 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    overflow-x: hidden;
}

.sidebar.open {
    width: 250px;
}

.sidebar .nav-link {
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.sidebar .nav-link span {
    display: none;
}

.sidebar.open .nav-link span {
    display: inline;
}

.sidebar .nav-link.active {
    background-color: #009FE3;
    color: white;
    border-radius: 5px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.submenu {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.submenu .nav-link {
    padding-left: 10px;
}

.submenu .nav-link i {
    margin-right: 10px;
}

/* MenuStyle.css */
.btn-sidebar {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 0.5rem; 
  }

  .arrow-circle {
    background-color: white;
    color: black;
    margin-left: 234px;
    clip-path: circle(60% at 92%);
    height: 30px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  
.btn-sidebar:focus {
    
    outline: none;
}

.sidebar.open .btn-sidebar {
    justify-content: flex-end;
}
  
