table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #007bff;
    color: white;
  }

  .table th, .table td {
    min-width: 75px;
    text-align: center;
}
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #007bff;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.text-parrafo-dropzone {
  color: #007bff;
  font-size: 14px;
  text-align: center;
  margin-top: 100px;
  position: absolute;
  width: 100%;
  left: 0;
}

.hidden {
  display: none;
}

.uploaded-image-preview {
  position: relative;
  display: inline-block;
}

.uploaded-image-preview img {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 2px dashed #007bff;
  margin-top: 30px;
  transition: opacity 0.3s ease-in-out;
}

.uploaded-image-preview:hover img {
  opacity: 0.6;
}

.delete-icon {
  position: absolute;
  top: 90px;
  right: 80px;
  font-size: 50px;
  color: red;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.uploaded-image-preview:hover .delete-icon {
  display: block;
  opacity: 1;
}

.accordion-button::after{
  margin: 3px 6px 0px 6px;
}


