.header-container {
    background-color: white;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.custom-icon .fa-circle-user {
    color: #E6007D;
    font-size: 2rem;
}

.custom-icon .fa-circle-info,
.custom-icon .fa-bell,
.custom-icon .fa-circle-question,
.custom-icon .fa-arrow-right-from-bracket{
    color: #ce0875;
    margin: 0 0.1rem;
    transition: color 0.3s ease;
}

.custom-icon:hover .fa-circle-info,
.custom-icon:hover .fa-bell,
.custom-icon:hover .fa-circle-question,
.custom-icon .fa-arrow-right-from-bracket{
    color: #E6007D; 
}

.custom-icon .fa-arrow-right-from-bracket {
   font-size: 25px;
}

.nav-link {
    color: black;
    margin: 0 0.5rem;
}

.nav-link:hover {
    color: black;
    text-decoration: none;
}

.navbar-toggler {
    position: absolute; 
    left: 250px;
    top: 9px;
    margin: 10px; 
    background: none;
    border: none;
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1100; 
}

.custom-button {
    background-color: #009EE2; 
    border: none; 
    color: white; 
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;
    z-index: 999;
}

.custom-button:hover {
    background-color: #007BCC; 
}

.btn-custom-danger {
    background-color: #A17BB6;
    border-color: #A17BB6;
    border-radius: 20px;
    color: #fff;
}
  
.btn-custom-danger:hover {
    background-color: #c46bf0;
    border-color: #c46bf0;
    color: #fff;
}

  
.btn-custom-editar {
    background-color: #A17BB6;
    border-color: #A17BB6;
    border-radius: 20px;
    color: #fff;
}

.btn-custom-editar:hover {
    background-color: #c46bf0;
    border-color: #c46bf0;
    color: #fff;
}


.btn-custom-tareas {
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color: #A17BB6;
    border-color: #A17BB6;
    color: #fff;
}

.btn-custom-tareas:hover {
    background-color: #c46bf0;
    border-color: #c46bf0;
    color: #fff;
}

.btn-custom-descargar{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color: #A17BB6;
    border-color: #A17BB6;
    color: #fff;
}

.btn-custom-descargar:hover{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color: #c46bf0;
    border-color: #c46bf0;
    color: #fff;
}


.btn-guardar{
    background-color: #E6007D;
    border-color: #E6007D;
    color: #fff;
}

.btn-guardar:hover {
    background-color: #d1006f;
    border-color: #d1006f;
    color: #fff;
}

.modal-header {
    background: linear-gradient(90deg, #009FE3 0%, #00CFFF 100%);;
    color: #fff;
    text-align: center;
}
  
.modal-content {
    border: none;
}



.newmenu-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-right: 15px;
  overflow-y: auto;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.newmenu-icon {
  padding: 10px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  cursor: pointer;
}

/* Evita que el icono principal tenga hover */
.newmenu-icon.main-icon {
  background-color: transparent !important;  /* Fondo transparente */
  color: white !important;  /* Mantener el color del ícono */
  pointer-events: none; /* Evita hover en el ícono principal */
}

.newmenu-link.active {
  background-color: #009FE3;
  color: #ffffff !important;
  font-weight: bold;
  border-radius: 3px;
  padding: 8px;
}

.newmenu-icon i {
  margin-right: 10px;
}

.newmenu-submenu {
  display: none;
  flex-direction: column;
  padding-left: 20px;
  transition: all 0.3s ease;
}

.newmenu-submenu-item {
  color: #000000;
  padding: 8px 20px;
}

.newmenu-submenu-item:hover {
  background-color: #6c757d;
  width: 90%;
  color: #ffffff;
}

.newmenu-item .newmenu-link1:hover {
  background-color: transparent;
}

.newmenu-item .newmenu-link:hover {
  background-color: #495057;
}

.newmenu-item .newmenu-link i {
  margin-right: 10px;
}

.newmenu-icon span {
  display: none;
}

.newmenu-item.open .newmenu-icon span {
  display: inline;
}

.newmenu-submenu.open {
  display: block;
  animation: fadeInNewMenu 0.3s ease;
}

@keyframes fadeInNewMenu {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
