.sidebar {
    position: sticky; /* Asegura que el sidebar se mantenga en su lugar */
    top: 0;
    width: 80px; /* Ancho del sidebar cuando está cerrado */
    min-height: 100vh; /* Asegura que el sidebar tenga al menos la altura de la ventana */
    background-color: #3C4043; /* Color de fondo */
    transition: width 0.3s ease; /* Transición suave para el cambio de ancho */
    z-index: 1000; /* Para asegurarse de que esté sobre otros elementos */
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

.sidebar.open {
    width: 250px; /* Ancho del sidebar cuando está abierto */
}

.sidebar .nav-link {
    padding: 10px 15px;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis; /* Añade puntos suspensivos (...) para el desbordamiento */
    color: white; /* Color del texto */
    display: flex; /* Para alinear iconos y texto horizontalmente */
    align-items: center; /* Centra verticalmente el contenido */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para hover */
    text-decoration: none; /* Quita subrayado del texto */
}

.sidebar .nav-link i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.sidebar .nav-link span {
    display: none; /* Ocultar el texto cuando el sidebar está cerrado */
}

.sidebar.open .nav-link span {
    display: inline; /* Mostrar el texto cuando el sidebar está abierto */
}

.sidebar .nav-link.active {
    background-color: #009FE3; /* Color de fondo para el enlace activo */
    color: white; /* Color del texto para el enlace activo */
    border-radius: 5px; /* Opcional: para esquinas redondeadas */
}

.main-content {
    flex-grow: 1; /* El contenido principal toma el espacio restante */
    padding: 20px;
}
