.encabezado-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    background: linear-gradient(90deg, #009FE3 0%, #00CFFF 100%);
    color: white;
    margin: 0;  
    border-radius: 8px 8px 0 0;
    text-align: center;
    width: 100%; 
    box-sizing: border-box; 
    z-index: 1;
  }
  
  .encabezado-tabla h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .table-responsive {
    margin-top: -20px;
  }
  
   .tabla-contenedor {
    width: 100%; 
    margin: 0 auto;  
    margin-top: 5%; 
    box-sizing: border-box; 
    overflow-x: auto;
  }

  .action-button {
    position: absolute;
    left: 758px;
    top: 20%;
  }
  