.encabezado-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    background: linear-gradient(90deg, #009FE3 0%, #00CFFF 100%);
    color: white;
    margin: 0;  
    border-radius: 8px 8px 0 0;
    text-align: center;
    width: 100%; 
    box-sizing: border-box; 
    z-index: 1;
  }
  
  .encabezado-tabla h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .table-responsive {
    margin-top: -20px;
  }
  
   .tabla-contenedor {
    width: 100%; 
    margin: 0% auto;  
    margin-top: 0%; 
    box-sizing: border-box; 
    overflow-x: auto;
  }
  .encabezado-titulo {
    flex: 1;  /* El título tomará el espacio restante disponible */
    text-align: center;  /* Centrar el texto del título */
    margin: 0; /* Asegúrate de que no haya márgenes inesperados */
  }
  .action-button {
    margin-left: auto;
    padding: 10px;
    background-color: #1566ea; /* Fondo del botón azul claro */
    color: white; /* Color de ícono blanco */
    border: none;
    border-radius: 50%; /* Forma circular */
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease; /* Efecto de transición */
    
  }
  
  .action-button:hover {
    background-color: #0057e3; /* Color más oscuro al hacer hover */
  }
  
  /* Si usas FontAwesome o íconos, puedes ajustar el color aquí */
  .action-button .fa-plus {
    color: white; /* Color del ícono */
  }
  