.sidebar {
    width: 85px;
    transition: width 0.3s;
}

/* .sidebar.open {
    width: 250px;
} */

.main-content {
    padding: 20px;
    margin-top: -70px;
    transition: margin-left 0.3s;
}

.main-content.with-sidebar {
    margin-left: 250px;
}

/* CSS PROVISORIOS */
/* 
.sidebar.open {
    width: 250px;
    display: none;
}

.p-0{
    display: none;
}

.custom-button{
    display: none;
}

.header-container{
    display: none;
} */