.sidebar {
  width: 85px;
  transition: width 0.3s;
}


.main-content {
  padding: 5px;
  margin-top: 0px;
  transition: margin-left 0.4s;
}

.main-content.with-sidebar {
  margin-left: 200px;
}

.w-6{
  width: 6px;
}

/* CSS PROVISORIOS */
/* 
.sidebar.open {
  width: 250px;
  display: none;
}

.p-0{
  display: none;
}

.custom-button{
  display: none;
}

.header-container{
  display: none;
} */